<h1 style="text-align: center; color: rgb(133, 40, 253)">Products</h1>
<div class="container">
  <div class="title">
    <div></div>
    <div class="Heading"><h2></h2></div>
    <div class="selectCategory">
      <label for="Category" class="light-300">Search by Category </label>
      <ul>
        <li>
          <a routerLink="all">All</a>
        </li>
        <li>
          <a routerLink="nike">Nike</a>
        </li>
        <li>
          <a routerLink="reebok">Reebok</a>
        </li>
        <li><a routerLink="afrojack">Afrojack</a></li>
      </ul>
    </div>
  </div>
</div>

<br />
<router-outlet></router-outlet>
